@model PagedList.IPagedList<MyWeb.Models.Bill_Sales>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Iphone";
    Layout = "~/Views/Share/Admin_ayoutPage1.cshtml";
    MyWeb.Models.MYWEBEntities1 db = new MyWeb.Models.MYWEBEntities1();
}

@section Drop {


    <div class="dropdown" style="cursor: pointer">
        <div class="dropdown-toggle text-danger" data-toggle="dropdown">
            <strong>Menu</strong>
        </div>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Admin/Iphone">Iphone</a>
            <a class="dropdown-item" href="/Admin/Imac">Imac</a>
            <a class="dropdown-item" href="/Admin/Watch">Watch</a>
            <a class="dropdown-item" href="/Admin/Ipad">Ipad</a>
            <a class="dropdown-item" href="/Admin/Macbook">Macbook</a>
            <a class="dropdown-item" href="/Admin/Another">Another</a>
            <div class="dropdown-divider"></div>
        </div>
    </div>


}




@section Btn {}

@section User {
    <li class="nav-item" style="margin-left: 20px">
        @{
            var user = (MyWeb.Models.Admin)HttpContext.Current.Session["Admin"];
            <i class="fa-solid fa-user"></i>
            <span style="margin-left:4px"><strong>@user.FullName</strong></span>
            <a class="dropdown-item" href="~/Home/Logout"> <strong><i class="fa-solid fa-right-from-bracket"></i></strong></a>

        }

    </li>
}

<h2>Bill</h2>

<div class="container" style="margin: 110px auto">
    <div class="row">
        @using (Html.BeginForm("Bill", "Admin", FormMethod.Get))
        {
            <div class="form-group form-inline">
                <div class="items" style="display: inline-flex; align-items:center">
                    @Html.TextBox("searchString", ViewBag.CurrentFilter as string, new { @class = "form-control" })
                    <input type="submit" class="btn btn-primary" value="Search" style="margin: 0 5px" />
                </div>
                <style>
                    .form-control {
                        width: 200px;
                        height: 40px;
                        margin-left: 18px;
                    }
                </style>
            </div>
        }
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>
                    Date
                </th>
                <th>
                    ID Bill
                </th>
                <th>
                    Tổng Tiền
                </th>
                <th>
                    Adress
                </th>
                <th>
                    Status
                </th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @item.DateFounded
                    </td>
                    <td>
                        @item.ID
                    </td>
                    <td>
                        @string.Format("{0:#,0}", @item.Total)
                    </td>
                    <td>
                        @item.Des
                    </td>
                    <td>
                        @{

                            var status = db.Status.Find(item.Status);
                            if (status != null)
                            {
                                <p>@status.Status1</p>
                            }
                        }
                    </td>
                    <td style="display:flex">

                        <a class="nav-link" href="~/Admin/DetailsBill?id=@item.ID">Details</a> 
                        <a class="nav-link" href="~/Admin/EditBill?id=@item.ID">Edit</a> 
                        <a class="btn btn-outline-danger" href="~/Admin/DeleteBill?id=@item.ID">Delete</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>
    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
    <div class="">
        @Html.PagedListPager(Model, page => Url.Action("Bill",
          new { page }))
        <style>
            .pagination-container {
            }

            .pagination {
                display: flex;
            }

            ul {
                align-items: center;
            }

            li {
                margin: 0 5px;
            }

            .active {
                display: flex;
                border: 1px solid #ff7956;
                color: #fff;
                border-radius: 6px;
                width: 50px;
                height: 35px;
                background-color: #ff7956;
                align-items: center;
                text-align: center;
                justify-content: center;
            }

                .active:hover {
                    color: #ff7956;
                    border: 1px solid #ff7956;
                    background-color: aliceblue;
                    cursor: pointer
                }
        </style>
    </div>

</div>
