@model PagedList.IPagedList<MyWeb.Models.Import>
@using PagedList.Mvc;
@{
    ViewBag.Title = "DraftImport";
    Layout = "~/Views/Share/Admin_ayoutPage1.cshtml";
}



@section Drop {

    <div class="dropdown" style="cursor: pointer">
        <div class="dropdown-toggle text-danger" data-toggle="dropdown">
            <strong>Menu</strong>
        </div>
        <div class="dropdown-menu">
            <a class="dropdown-item" href="/Admin/Iphone">Iphone</a>
            <a class="dropdown-item" href="/Admin/Imac">Imac</a>
            <a class="dropdown-item" href="/Admin/Watch">Watch</a>
            <a class="dropdown-item" href="/Admin/Ipad">Ipad</a>
            <a class="dropdown-item" href="/Admin/Macbook">Macbook</a>
            <a class="dropdown-item" href="/Admin/Another">Another</a>
            <div class="dropdown-divider"></div>
        </div>
    </div>


}




@section Btn {
    <li class="nav-item">
        <a class="nav-link" href="~/Admin/Create">Tạo</a>
    </li>
}

@section User {
    <li class="nav-item" style="margin-left: 20px">
        @{
            var user = (MyWeb.Models.Admin)HttpContext.Current.Session["Admin"];
            <i class="fa-solid fa-user"></i>
            <span style="margin-left:4px"><strong>@user.FullName</strong></span>
            <a class="dropdown-item" href="~/Home/Logout"> <strong><i class="fa-solid fa-right-from-bracket"></i></strong></a>

        }

    </li>
}

<h2>DraftImport</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            Ngày lập
        </th>
        <th>
            Tổng tiền
        </th>
        <th>
            Trạng thái
        </th>
        <th>
            Tên nhân viên
        </th>
        <th>
            Tên nhà cung cấp
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DateImprt)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Total)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Status)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Admin.FullName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Producer.Name)
            </td>
            <td>
                @Html.ActionLink("Lưu", "Save", new { id = item.ID }) |
                @Html.ActionLink("Chi tiết", "ImportDetail", new { id = item.ID }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.ID })
            </td>
        </tr>
    }

</table>
<div>

    <div>
        Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
    </div>
    <div class="">
        @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }))
        <style>
            .pagination-container {
            }

            .pagination {
                display: flex;
            }

            ul {
                align-items: center;
            }

            li {
                margin: 0 5px;
            }

            .active {
                display: flex;
                border: 1px solid #ff7956;
                color: #fff;
                border-radius: 6px;
                width: 50px;
                height: 35px;
                background-color: #ff7956;
                align-items: center;
                text-align: center;
                justify-content: center;
            }

                .active:hover {
                    color: #ff7956;
                    border: 1px solid #ff7956;
                    background-color: aliceblue;
                    cursor: pointer
                }
        </style>
    </div>
</div>