@model IEnumerable<MyWeb.Models.Bill_Sales>

@{
    ViewBag.Title = "showAllBill";
    Layout = "~/Views/Share/Using_LayoutPage1.cshtml";
}



<table class="table">
    <tr>
        <th>
           Ngày đặt
        </th>
        <th>
           Tổng tiền
        </th>
        <th>
            Địa chỉ
        </th>
        <th>
           Trạng thái
        </th>
        <th>
            Họ tên
        </th>
        <th>
            Số điện thoại
        </th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.DateFounded)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Total)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Des)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Status1.Status1)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.FullName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.User.PhoneNumber)
        </td>
        <td>
            @Html.ActionLink("Details", "DetailsBill", new { id = item.ID }) |
        </td>
    </tr>
}

</table>
