@model PagedList.IPagedList<MyWeb.Models.Product>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Shopping";
    Layout = "~/Views/Share/Using_LayoutPage1.cshtml";
    MyWeb.Models.MYWEBEntities1 db = new MyWeb.Models.MYWEBEntities1();

}


@section User {
    <li class="nav-item" style="margin-left: 20px">
        @{
            var user = (MyWeb.Models.User)HttpContext.Current.Session["username"];
            <a href="~/Home/Info?id=@user.ID" class="btn btn-outline-info">
                <span style="margin-left:4px; color: black; "><strong>@user.FullName</strong></span>
            </a>
            <a class="dropdown-item" href="~/Home/Logout">
                <strong><i class="fa-solid fa-right-from-bracket" style="color: black; float:right"></i></strong>
            </a>
        }
    </li>
}


<div class="container-item" style="margin: 110px">
    <div class="row" style="display: flex; justify-content: space-between;">
        @using (Html.BeginForm("sortPice", "Home", FormMethod.Get))
        {
            <div class="form-group form-inline">
                <div class="items" style="display: inline-flex; align-items:center">
                    @Html.TextBox("searchString", ViewBag.currentFilter as string, new { @class = "form-input" })
                    <input type="submit" class="btn btn-search" value="Search" style="margin: 0 5px" />
                    <style>
                        .btn-search {
                            background-color: #9acdf3;
                            color: white;
                        }
                    </style>
                </div>
                <style>
                    .form-input {
                        width: 300px;
                        height: 40px;
                        margin-left: 18px;
                        color: black;
                        border-radius: 6px;
                    }

                        .form-input:hover {
                            color: #ccc;
                        }
                </style>
            </div>
        }
        <div class="dropdown">
            <button class="dropbtn">Sắp xếp Giá</button>
            <div class="dropdown-content">
                <a href="~/Home/sortPiceDscending">Cao đến thấp</a>
                <a href="~/Home/sortPice">Thấp đến cao</a>

            </div>
        </div>
        <style>
            .dropbtn {
                background-color: #9acdf3;
                color: white;
                padding: 5px 26px;
                font-size: 16px;
                border: none;
                cursor: pointer;
                width: 100%;
                border-radius: 8px;
            }

            .dropdown {
                position: relative;
                display: inline-block;
            }

            .dropdown-content {
                display: none;
                position: absolute;
                background-color: white;
                min-width: 160px;
                box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
                z-index: 1;
            }

                .dropdown-content a {
                    margin-top: 10px;
                    color: black;
                    padding: 12px 16px;
                    text-decoration: none;
                    display: block;
                }

                    .dropdown-content a:hover {
                        background-color: #9acdf3
                    }

            .dropdown:hover .dropdown-content {
                display: block;
            }

            .dropdown:hover .dropbtn {
                background-color: white;
                border: 1px solid black;
                color: black;
            }
        </style>
    </div>



    <div class="row">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/brands.min.css" integrity="sha512-9YHSK59/rjvhtDcY/b+4rdnl0V4LPDWdkKceBl8ZLF5TB6745ml1AfluEU6dFWqwDw9lPvnauxFgpKvJqp7jiQ==" crossorigin="anonymous" referrerpolicy="no-referrer" />


        @foreach (var item in Model)
        {

            <div class="col-lg-4 col-md-4 col-sm-6 col-xs-12">
                <div class="panel panel-default" style="border: 1px solid #ccc; border-radius: 6px; margin: 4px">
                    <style>
                        .panel {
                            height: 600px;
                        }
                    </style>
                    <div class="item" style="padding: 10px">
                        <div class="panel-heading" style="margin: 5px 0px">

                            <h5><strong>@item.Name</strong></h5>
                        </div>
                        <div class="panel-body" style="margin: 5px 0">
                            <div class="img-responsive" style="display: flex"><img src="~/Upload/@item.Images" alt="hinh thumnail" class="img-responsive" style="max-width:100%; height: 300px; margin: 4px auto" /></div>
                            <div class="box" style="margin: 10px 0px">
                                <p><strong>Giá: </strong>@string.Format("{0:#,0}", item.Price)</p>
                                <p><strong>Hãng: </strong>@item.Producer</p>
                                @{

                                    var typa = db.Categories.Find(item.Id_Category);
                                    if (typa != null)
                                    {

                                        <p><strong>Loại: </strong>@typa.Name_type</p>
                                    }
                                }
                            </div>


                        </div>
                        <div class="panel-footer clearfix" style="margin:35px 0px; float: right">
                            <div class="pull-right">
                                <a class="icon" href="~/ShoppingCart/AddtoCart/@item.ID">
                                    <i class="fa-solid fa-circle-plus"></i>
                                </a>
                                @Html.ActionLink("Read more...", "Details", new { id = item.ID }, new { @class = "btn btn-default" })
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        }

        <br />




    </div>
    <div>

        <div>
            Trang @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) / @Model.PageCount
        </div>
        <div class="">
            @Html.PagedListPager(Model, page => Url.Action("sortPice", new { page, currentFilter = ViewBag.CurrentFilter }))
            <style>
                .pagination-container {
                }

                .pagination {
                    display: flex;
                }

                ul {
                    align-items: center;
                }

                li {
                    margin: 0 5px;
                }

                .active {
                    display: flex;
                    border: 1px solid #9acdf3;
                    color: #fff;
                    border-radius: 6px;
                    width: 50px;
                    height: 35px;
                    background-color: #9acdf3;
                    align-items: center;
                    text-align: center;
                    justify-content: center;
                }

                    .active:hover {
                        color: black;
                        border: 1px solid #9acdf3;
                        background-color: #9acdf1;
                        cursor: pointer
                    }
            </style>
        </div>
    </div>
</div>